<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <input type="text" #f (add)="Addtache(f.value)" name="text" class="form-control mb-4" placeholder="titre">
      <button class="btn btn-primary" (click)="Addtache(f.value)">ajouter</button>
      <div *ngFor="let i of listTache">
        <!-- Card -->
        <div class="card">

          <!-- Card image -->

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class="card-title"><a>{{i.text}}</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!-- Button -->

          </div>

        </div>
        <!-- Card -->
      </div>
    </div>
  </div>
</div>
